<template>
    <import from="lib/focus"></import>
    <section>
        <br/>
        <div>
            <table class="table table-bordered">
            <tr>
                <td><label>Fetched: ${_fetchedResults}</label></td>
                <td><label>Expected: ${_expectedResults}</label></td>
            </table>
        </div>
        <hr />

        <div class="row au-stagger">
            <div class="col-sm-6 col-md-6 card-container" repeat.for="item of _books">
                <div class="view" if.bind="item.price != -1">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="vendorId"><b>ID:</b> </label>
                            </div>
                            <div class="col-md-10">
                                <label class="postId">${item.vendorID}</label>
                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="vendorName"><b>Name:</b></label>
                            </div>
                            <div class="col-md-10">
                                <label class="postText">${item.vendorName}</label>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="price"><b>Price:</b></label>
                            </div>
                            <div class="col-md-10">
                                <label class="postText">${item.price}</label>
                            </div>
                        </div>

                    </div>

                    <hr />

                </div>
            </div>
        </div>
    </section>
</template>