<template>
    <import from="lib/focus"></import>
    <section>
        <h3>${heading}</h3>
        <form submit.trigger="submit()">
            <input type="hidden" value.bind="_expectedResults">
            <input type="hidden" value.bind="_fetchedResults">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" value.bind="_bookISBN" class="col-md-12">
                </div>
                <div class="col-md-6">
                    <button click.delegate="getPrices()" class="btn btn-primary btn-xs btn-success">Search</button>
                </div>
            </div>
            <!--<button type="submit">Sell</button>-->

        </form>
        <br />
        <hr />
    </section>
    <section id="searchResults">
        <compose view-model="./bookSearchResults.js" model.bind="{expectedResults:expectedResults,fetchedResults:fetchedResults,books: books}" view="./bookSearchResults.html"></compose>
    </section>
</template>
