<template>
    <a href="#" class="list-group-item active">Link 1</a>
    <a href="#" class="list-group-item">Link 2</a>
    <a href="#" class="list-group-item">Link 3</a>
    <a href="#" class="list-group-item">Link 4</a>
    <a href="#" class="list-group-item">Link 5</a>
    <a href="#" class="list-group-item">Link 6</a>
    <a href="#" class="list-group-item">Link 7</a>
    <a href="#" class="list-group-item">Link 8</a>
    <a href="#" class="list-group-item">Link 9</a>
    <a href="#" class="list-group-item">Link 10</a>
</template>