<template>
    <import from="lib/focus"></import>
    <section>
        <h2>${heading}</h2>
        <div class="row au-stagger">
            <div class="col-sm-6 col-md-6 card-container" repeat.for="comment of comments">
                <div class="view">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="commentId"><b>ID:</b> </label>
                            </div>
                            <div class="col-md-10">
                                <label class="postId">${comment.id}</label>
                                <button click.delegate="$parent.delete(comment)" class="btn btn-primary btn-xs btn-danger pull-right destroy" >Delete</button>
                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="commentName"><b>Comment Name:</b></label>
                            </div>
                            <div class="col-md-10">
                                <label class="commentText">${comment.name}</label>

                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="commentBody"><b>Comment Body:</b></label>
                            </div>
                            <div class="col-md-10">
                                <label class="commentText" dblclick.delegate="comment.labelDoubleClicked()">${comment.body}</label>
                            </div>
                            <input class="edit col-md-10"
                                   value.bind="comment.editBody"
                                   focus.bind="comment.isEditing"
                                   focusout.delegate="comment.finishEditing($event)"
                                   keyup.delegate="comment.onKeyUp($event)" />
                            <br/>

                        </div>

                    </div>

                    <hr />

                </div>
            </div>
        </div>
    </section>
</template>