<template>
    <section>
        <h2>${heading}</h2>
        <div class="row">
        <form submit.trigger="submit()">
           <!-- <div class="row">
               <div class="col-sm-3 col-md-1"><label>ID</label></div>
               <div class="col-sm-8 col-md-8"><input type="text" value.bind="id"></div>
            </div>-->
            <br />
            <div class="row">
                <div class="col-sm-3 col-md-1"><label>Title</label></div>
                <div class="col-sm-8 col-md-8"><textarea value.bind="title"></textarea></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3 col-md-1"><label>Body</label></div>
                <div class="col-sm-8 col-md-8"><textarea value.bind="body"></textarea></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3 col-md-1"></div>
                <div class="col-sm-8 col-md-8"><button type="submit">Submit</button></div>
            </div>
        </form>
       </div>
    </section>
</template>
