<template>
    <import from="lib/focus"></import>
    <section>
        <h2>${heading}</h2>
        <div class="row au-stagger">
            <div class="col-sm-6 col-md-6 card-container" repeat.for="post of posts">
                <div class="view">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="postId"><b>ID:</b> </label>
                            </div>
                            <div class="col-md-10">
                                <label class="postId">${post.id}</label>
                                <button click.delegate="$parent.delete(post)" class="btn btn-primary btn-xs btn-danger pull-right destroy" >Delete</button>
                            </div>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="postTitle"><b>Title:</b></label>
                             </div>
                             <div class="col-md-10">
                                <label class="postText" dblclick.delegate="post.labelDoubleClicked()">${post.title}</label>

                             </div>
                            <input class="edit col-md-10"
                                   value.bind="post.editTitle"
                                   focus.bind="post.isEditing"
                                   focusout.delegate="post.finishEditing($event)"
                                   keyup.delegate="post.onKeyUp($event)" />

                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label class="postBody"><b>Body:</b></label>
                            </div>
                            <div class="col-md-10">
                             <label class="postText">${post.body}</label>
                            </div>
                        </div>

                    </div>

                    <hr />

                </div>
            </div>
        </div>
    </section>
</template>